/.vscode
/flight-computer/src/.devcontainer
/flight-computer/src/.vscode
/flight-computer/src/build
/flight-computer/src/sdkconfig
/ground-station/parsing-and-shared-memory/__pycache__/*
*.pyc
/ground-station/parsing-and-shared-memory/.env
*.devcontainer
*build/
*sdkconfig
*.vscode
*.o
*.exe
*.env
/ground-station/parsing-and-shared-memory/dash_errorbox.py
/ground-station/parsing-and-shared-memory/dash_gauges.py
/ground-station/parsing-and-shared-memory/dash_gmaps.py
/ground-station/parsing-and-shared-memory/dash_state_and_toggles.py
/ground-station/parsing-and-shared-memory/dash_test.py
