
/.vscode
/flight-computer/src/.devcontainer
/flight-computer/src/.vscode
/flight-computer/src/build
/flight-computer/src/sdkconfig
/ground-station/parsing-and-shared-memory/__pycache__/*
*.pyc
/ground-station/parsing-and-shared-memory/variables.env