*
!*.*
!*/
*.devcontainer
*build/
*sdkconfig
*sdkconfig.old
*sdkconfig.defaults
*.vscode
*.o
*.exe
*.lock
*managed_components/
*.pyc
*.pytest_cache/
*__pycache__/
*DS_Store
**/CMakeFiles
**/corrosion
**/corrosion_generated
*.a
**/CMakeCache.txt
**/target
**/_deps
